@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@layer base {
  :root {
    font-family: Inter, system-ui, sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }

  body {
    @apply bg-slate-50 text-slate-900 min-h-screen;
  }

  /* Eliminar text-select en elementos de UI no editables */
  button,
  label {
    user-select: none;
  }
}
